.programas{
    background:radial-gradient(circle at 50% 50%, rgba(255, 251, 251, 0.925), transparent 35%),
    linear-gradient(45deg, #001F54, #02235c);
background-size: 100%;
animation: glow 6s ease-in-out infinite;
height: 100vh;
margin: 0;
}

.programas {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
}


.estilo {
    display: flex;
    flex-direction: row;
    gap: 200px;
}

.web {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    margin-top: 0px 60px 0px 0px;
    color: black;
}

.web h1 {
    color: white;
    font-size: 26px;
    font-weight: 700;
}

.web  h2 {
    color: gray;
    font-size: 16px;
    margin-top: 16px;
}


.button {
    position: relative;
    display: inline-block;
    margin-top: 40px;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: green;
    border: none;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0px 7px 20px green;
  }
  
  .button:hover {
    background-color: green;
  }
  
  .button::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.4);
    transform: translateX(-100%) rotate(45deg);
    transition: transform 0.6s ease;
  }
  
  .button:hover::before {
    transform: translateX(100%) rotate(45deg);
  }

.contenido {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    color: white;
    gap: 50px;
    margin-top: 300px;

}

.cardone {
    width: 350px;

}

.cardtwo {
    width: 350px;

}

.cardthree {
    width: 350px;

}


.content {
    display: flex;
    width: 100%;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    padding: 100px;
    box-shadow: 0px 0px 15px white;
    background-color:  #001F54
 
}

.content h1 {
    margin-bottom: 16px;
}

.content p {
    margin-bottom: 24px;
}

.svg {
   width: 30px;
   height: 30px;
   color: white;
   box-shadow: 0px 0px 5px white;
   border-radius: 50px;
}

.titulo {
    font-size: 22px;
    margin: 10px;
    color: white;
    font-weight: 700;
}

.parrafos {
    color: gray;
    font-size: 16px;
    padding: 10px;
}

.mas {
    color: white;
    background-color: #06063f;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px white;
    margin: 10px;
}

.mas:hover {
    box-shadow: 0px 0px 10px  #06063f;
}

.estilo {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 600px; 
    color:  black;
}

.estilo h1 {
    font-size: 50px;
    color: white;
}

.note {
    width: 800px;
}


  

@media screen and (max-width: 768px) {

    .programas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200vh;
    }

    .web h1 {
        font-size: 50px;
    }

    .estilo {
        display: flex;
        flex-direction: column;
        background-color:   #000028;
    }

    .estilo h1 {
        padding-top: 50px;
    }

    .contenido {
        display: flex;
        flex-direction: column;
        margin: 20%;
    }

    .imag {
        margin: 0;
    }

    .content {
        padding: 20px;
    }

}


@media screen and (max-width: 450px) {
    div.programas {
        display: flex;
        flex-direction: column;
    }

}